img {
  display: block;
  width: auto;
  height: 100%;
  object-fit: cover;
}

.main-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main-content {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  @include container();
}

.container-full {
  padding: 0;
  @include container-full();
}
