body {
    font-family: "Roboto";
    font-size: $base-font-size;
    color: $base-text-color;
}

/*
h1 {
    font-size: rem(54px);
    line-height: $base-line-height * 3;
    margin-bottom: $base-line-height * 2;
    font-weight: bold;
}

h2 {
    font-size: 36px;
    line-height: $base-line-height * 2;
    margin-bottom: $base-line-height;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    line-height: $base-line-height;
    margin-bottom: $base-line-height;
    font-weight: bold;
}
*/
